#header {
    background-image: url('../img/banner.jpg');
}


.bg-image {
    height: 100vh;
    max-height: 900px;
}

/* Christian Fellowship */
#christian-fellowship .image {
    background-image: url('../img/campagape-plan.png');
    height: 100vh;
}
@media (max-width: 425px) {
    #christian-fellowship {
        height: fit-content;
    }
    #christian-fellowship .image{
        background-position:50% -200px;
        background-repeat: no-repeat;
    }
}

/* Be Part of... */
#steps > div{
    cursor: pointer;
}
#steps .btn {
    opacity: 0;
}
#steps > div:hover .btn{
    opacity: 1;
    transition: all 0.5s;
}
@media (max-width: 425px) {
    #steps .btn {
        opacity: 1;
    }
}


/* Testimonies */
#testimonies .image {
    background-image: url('../img/testimonies.png');
    height: 100vh;
}
@media (max-width: 425px) {
    #testimonies {
        height: fit-content;
    }
    #testimonies .image{
        background-position:50% -200px;
        background-repeat: no-repeat;
    }
}

/* News */
#news .news-category {
    background-color: #81bd41;
    width: fit-content;
    padding: 5px;
}
#news .thumbnail {
    width: 100%;
    height: 250px;
    background-size: cover;
}

/* Project Vide */
#projectVideo .modal-content{
   background-color: rgba(0,0,0,0);
   border-color: transparent !important;
}
#projectVideo .modal-header {
    border-bottom: 0 !important;
}

.bg-image {
    background-size: cover;
    position: relative;
}
.bg-image .image {
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* z-index: 1; */
    background-position: center;
}
.bg-image .gradient {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 51%, rgba(0,212,255,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 51%, rgba(0,212,255,0) 100%);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 51%, rgba(0,212,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#00d4ff",GradientType=1);
    position: absolute;
    /* z-index: 2; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.watch .btn {
    width: 60px;
    height: 60px;
}

/* Sponsor Carousel */
#sponsor-carousel .card {
    border: 0 !important;
    padding: 0 !important;
}

/* New Carousel */
@media (max-width: 425px) {
    #sponsor-carousel .carousel-inner .carousel-item > div {
        display: none;
    }
    #sponsor-carousel .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

#sponsor-carousel .carousel-inner .carousel-item.active,
#sponsor-carousel .carousel-inner .carousel-item-next,
#sponsor-carousel .carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    #sponsor-carousel .carousel-inner .carousel-item-right.active,
    #sponsor-carousel .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }

    #sponsor-carousel .carousel-inner .carousel-item-left.active,
    #sponsor-carousel .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

#sponsor-carousel .carousel-inner .carousel-item-right,
#sponsor-carousel .carousel-inner .carousel-item-left{
  transform: translateX(0);
}