#header {
    background-image: url('../img/banner.jpg');
}

/* #navbar-contact {
    
    background-color: transparent !important;
}
#navbar .navbar-nav .nav-item {
    border-top: 3px solid transparent;
}
#navbar .navbar-nav .nav-item.active{
    border-top: 3px solid#81bd41;
}
#navbar.on-top {
    background-color: transparent;
}
#navbar.on-scroll {
    background-color: white;
    transition: all 0.1s ease-out;
    transition-delay: 0.2s;
}
#navbar.on-top .navbar-nav .nav-item:hover {
    border-top-color: #ffffff73;
}
#navbar-contact .navbar-nav .nav-link,
#navbar.on-top .navbar-nav .nav-link {
    color: white !important;
}
#navbar.on-scroll .navbar-nav .nav-link {
    color: #000 !important;
}

#navbar-contact {
    border-bottom: 1px solid#dee2e67a !important;
    background-color: white;
    color: #000;
}
#navbar-contact .nav-link {
    color: #000;
} */

/* Christian Fellowship */
#christian-fellowship .image {
    background-image: url('../img/campagape-plan.png');
    background-position: top center;
}
@media (max-width: 425px) {
    #christian-fellowship {
        height: fit-content;
    }
    #christian-fellowship .image{
        background-position:50% -200px;
        background-repeat: no-repeat;
    }
}

/* Why a center */
#why-center .image {
    background-image: url('../img/sample_tent.png');
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: center;
}

/* Programs */
#programs {
    background-image: url('../img/programs-bg.jpg');
    background-size: cover;
    backdrop-filter: brightness(50);
}

/* What we need */
#what-we-need p {
    line-height: 1.6em;
}

p.h1,
p.h2,
p.h3,
p.h4,
p.h5,
p.h6   {
    font-family: 'Montserrat',-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    line-height: 1.7em;
}
/* Be Part of... */
/* #steps > div{
    cursor: pointer;
}
#steps .btn {
    opacity: 0;
}
#steps > div:hover .btn{
    opacity: 1;
    transition: all 0.5s;
}
@media (max-width: 425px) {
    #steps .btn {
        opacity: 1;
    }
} */


/* Testimonies */
#testimonies .bg-image {
    max-height: 1300px !important;
}
#testimonies .image {
    background-image: url('../img/testimonies.png');
}
@media (max-width: 425px) {
    #testimonies {
        height: fit-content;
    }
    #testimonies .image{
        background-position:50% -200px;
        background-repeat: no-repeat;
    }
}

/* News */
#news .news-category {
    background-color: #81bd41;
    width: fit-content;
    padding: 5px;
}
#news .thumbnail {
    width: 100%;
    height: 250px;
    background-size: cover;
}

/* Make a differencec */
#make-a-difference .image{
    background-image: url('../img/thankyou.png');
}

/* Project Vide */
#projectVideo .modal-content{
   background-color: rgba(0,0,0,0);
   border-color: transparent !important;
}
#projectVideo .modal-header {
    border-bottom: 0 !important;
}

.bg-image {
    background-size: cover;
    position: relative;
    height: 100vh;
    max-height: 1000px;
}
.bg-image .image {
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* z-index: 1; */
    background-position: center;
}
.bg-image .gradient {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 51%, rgba(0,212,255,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 51%, rgba(0,212,255,0) 100%);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 51%, rgba(0,212,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#00d4ff",GradientType=1);
    position: absolute;
    /* z-index: 2; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.watch .btn {
    width: 60px;
    height: 60px;
}

/* Sponsor Carousel */
#sponsor-carousel .card {
    border: 0 !important;
    padding: 0 !important;
}

/* New Carousel */
@media (max-width: 425px) {
    #sponsor-carousel .carousel-inner .carousel-item > div {
        display: none;
    }
    #sponsor-carousel .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

#sponsor-carousel .carousel-inner .carousel-item.active,
#sponsor-carousel .carousel-inner .carousel-item-next,
#sponsor-carousel .carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    #sponsor-carousel .carousel-inner .carousel-item-right.active,
    #sponsor-carousel .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }

    #sponsor-carousel .carousel-inner .carousel-item-left.active,
    #sponsor-carousel .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

#sponsor-carousel .carousel-inner .carousel-item-right,
#sponsor-carousel .carousel-inner .carousel-item-left{
  transform: translateX(0);
}